imgDSCF7521-1s{border:1px solid black;
border-radius:10px;
padding: 20px;}
imgDSCF5730-1s{border:1px solid green;border-radius:10px;padding: :20px;}
h2{color: violet;}
img{border：2px solid black; border-radius:10px; padding:20px;}
img{border: 2px solid black;}
 p{font-weight: bold;}
 body{color:green;font-family: courier;}
